*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: #224870;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 160px repeat(5, 1fr);
}